<!DOCTYPE html>
<html ng-app="appMain" ng-cloak >
        <head>
                <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
                <meta name="ROBOTS" content="NOINDEX, NOFOLLOW" />
                <meta http-equiv="Content-Language" content="pt-br" />
                <meta http-equiv="X-UA-Compatible" content="IE=edge" />

                <title></title>

                <!-- Bootstrap Core CSS -->
                <link href="/template/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>

                <!-- MetisMenu CSS -->
                <link href="/template/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet"/>

                <!-- Custom CSS -->
                <link href="/template/dist/css/sb-admin-2.css" rel="stylesheet"/>

                <!-- Custom Fonts -->
                <link href="/template/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>

                <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
                <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
                <!--[if lt IE 9]>
                    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
                    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
                <![endif]-->

                <link href="/resources/css/jquery-ui.min.css" rel="stylesheet"/>

                <script src="/resources/js/jquery-1.11.3.min.js"></script>
                <script src="/resources/js/jquery-ui.min.js"></script>
                <script src="/resources/js/datepicker-pt-BR.js"></script>
                <script src="/resources/js/moment-with-locales.js"></script>

                <script src="/template/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
                <script src="/template/bower_components/metisMenu/dist/metisMenu.min.js"></script>
                <script src="/template/dist/js/sb-admin-2.js"></script>

                <script src="/resources/js/angular.min.js"></script>
                <script src="/resources/js/angular-resource.js"></script>
                <script src="/resources/js/angular-route.js"></script>
                <script src="/resources/js/angular-cookies.min.js"></script>
                <script src="/resources/js/underscore.js"></script>
                <script src="/resources/js/restangular.js"></script>
                <script src="/resources/js/ui-bootstrap-tpls-0.13.1.min.js"></script>

                <script src="/resources/js/config/appMain.js"></script>
                <script src="/resources/js/config/routes.js"></script>

                <script src="/resources/js/diretivas/mensagem.js"></script>
                <script src="/resources/js/diretivas/datepicker.js"></script>
                <script src="/resources/js/diretivas/permissao.js"></script>

                <script src="/resources/js/services/apostaService.js"></script>
                <script src="/resources/js/services/usuarioService.js"></script>
                <script src="/resources/js/services/loginService.js"></script>

                <script src="/resources/js/controller/appController.js"></script>
                <script src="/resources/js/controller/dashboardController.js"></script>
                <script src="/resources/js/controller/usuarioController.js"></script>
                <script src="/resources/js/controller/apostaController.js"></script>
                <script src="/resources/js/controller/loginController.js"></script>

                <!-- Configurações padrões para bibliotecas -->
                <script type="text/javascript">
                                $.ajaxSetup({
                                cache: false
                                });
                                /* Desabilita o keydown da tecla ESC no Internet Explorer para que ao digitar Esc 2x os formulários não sejam limpos */
                                $(document).ready(function () {
                        $(document).keydown(function (event) {
                        if (navigator.appName == "Microsoft Internet Explorer" && event.keyCode == 27) {
                        return false;
                        }
                        return true;
                        });
                        });                </script>
        </head>

        <body ng-controller="AppController as ctrl">
                <div id="wrapper">
                        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
                                <div class="navbar-header">
                                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                                <span class="sr-only">Toggle navigation</span>
                                                <span class="icon-bar"></span>
                                                <span class="icon-bar"></span>
                                                <span class="icon-bar"></span>
                                        </button>
                                        <a class="navbar-brand" href="#/dashboard" style="font-size: 14;font-weight: bold;">
                                                <img src="/resources/img/trevo.png" height="30px" style="display:inline;margin-right: 5px;" />Apostas
                                        </a>
                                </div>

                                <ul class="nav navbar-top-links navbar-right">
                                        <li class="dropdown">
                                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                                                </a>
                                                <ul class="dropdown-menu dropdown-user">
                                                        <li>
                                                                <a href="#/usuario/buscar"><i class="fa fa-user fa-fw"></i> Perfil</a>
                                                        </li>
                                                        <li class="divider"></li>
                                                        <li>
                                                                <a href="/j_spring_security_logout"><i class="fa fa-sign-out fa-fw"></i> Sair</a>
                                                        </li>
                                                </ul>
                                        </li>
                                </ul>

                                <div class="navbar-default sidebar" role="navigation">
                                        <div class="sidebar-nav navbar-collapse">
                                                <ul class="nav" id="side-menu">
                                                        <li>
                                                                <a href="#/dashboard"><i class="fa fa-dashboard fa-fw"></i> Principal</a>
                                                        </li>
                                                        <aposta-permissao id="div_perm_menu_aposta" papeis="ROLE_ADMIN">
                                                                <li>
                                                                        <a href="#/aposta"><i class="fa fa-table fa-fw"></i> Nova Aposta</a>
                                                                </li>
                                                                <li>
                                                                        <a href="#/usuario"><i class="fa fa-table fa-fw"></i>Cadastro de Usuário</a>
                                                                </li>
                                                        </aposta-permissao>

                                                </ul>
                                        </div>
                                </div>
                        </nav>

                        <div id="page-wrapper">
                                <div class="container-fluid">
                                        <div class="row">
                                                <div class="col-lg-12" ng-view>
                                                </div>
                                        </div>
                                </div>
                        </div>

                </div>      
                <div id="login_modal" class="modal fade">
                        <div class="modal-dialog">
                                <div class="modal-content">
                                        <div class="modal-header">
                                                <h4 class="modal-title">Por favor, logue-se novamente.</h4>
                                        </div>
                                        <div class="modal-body">
                                                <div class="row">
                                                        <div class="col-md-12" ng-controller="LoginController as ctrl">
                                                                <div id="div_mensagem_login" class="hide alert alert-danger">
                                                                </div>
                                                                <div class="panel panel-default">
                                                                        <div class="panel-heading">
                                                                                <h3 class="panel-title">Entre com seu Login</h3>
                                                                        </div>
                                                                        <div class="panel-body">
                                                                                <form role="form" name="loginForm" ng-submit="ctrl.logar()">
                                                                                        <fieldset>
                                                                                                <div class="form-group">
                                                                                                        <input id="usuarioForm" class="form-control" placeholder="Login" name="j_username" maxlength="30" type="text" autofocus ng-model="ctrl.login.j_username" required/>
                                                                                                        <span ng-class="error" ng-show="ctrl.login.j_username.$error.required && ctrl.login.j_username.$dirty">Login é obrigatório</span>
                                                                                                </div>
                                                                                                <div class="form-group">
                                                                                                        <input id="senhaHidden" class="form-control" placeholder="Senha" name="j_password" maxlength="30" type="password" ng-model="ctrl.login.j_password" required/>
                                                                                                        <span ng-class="error" ng-show="ctrl.login.j_password.$error.required && ctrl.login.j_password.$dirty">Senha é obrigatória</span>
                                                                                                </div>
                                                                                                <input type="submit" class="btn btn-lg btn-success btn-block" value="Vai">
                                                                                        </fieldset>
                                                                                </form>
                                                                        </div>
                                                                </div>
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                        </div>
                </div>
        </body>
</html>